*{
    margin: 0;
    box-sizing: border-box;

}

body {
    display: grid;
    place-items: center;
    background: #232323;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: .983rem;
}

#title {
    display: grid;
    place-content: center;
    width: 100%;
}
#title h1 {
    font-size: 3rem;
    color: slategrey;
}

#title img {
    /* top: 0; */
    margin: 0 auto 0 auto;
    background: white;
    padding-right: 9px;
    border-radius: 50%;
}

#time span {
    font-size: 2rem;
    color: red;
    margin-top: 10px;
    text-align: center;
}
#time span.time-seperator{
    color: white;
}

#buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn {
    display: inline-block;
    background: slategrey;
    font-size: 1.5rem;
    border: none;
    padding: 0.2rem .5rem;
    margin: 0 .5rem;
    border-radius: 1rem;
    color: whitesmoke;
    cursor: pointer;
}


.btn:hover {
    transform: scale(1.1);
}